.content{
  max-width: 865px;
  margin: 20px auto;
  padding: 30px;
}

.content h1{
  text-align: center;
}

.content svg {
  display: block;
  margin: auto;
}

.content h1, h2, ul, p{
  margin-bottom: 10px;
}


